html, body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#map-canvas {
    position:absolute;
    width: 230px;
    height: 230px;
    opacity:0.8;
    left: 190px;
    bottom: 230px;
}

.main-container {
    height:100%;
}

#dronestream {
    width: 1440px;
    height: 820px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#wifi-bar {
  position: fixed;
  bottom: 230px;
  right: 190px;
}

#time-bar {
  position: fixed;
  bottom: 230px;
  right: 270px;
}

#location-bar {
  position: fixed;
  bottom: 230px;
  display: block;
  margin-left: 41%;
  text-align: center;
}