.header-container {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 20px;
     background: black;
     color: white;
     padding: 5px 10px;
}

.header-container .brand {
     font-family: Audiowide, Arial;
}

a {
  color: #00B7FF;
}

#map-canvas {
    position:absolute;
    width: 230px;
    height: 230px;
    opacity:0.8;
    left: 190px;
}

.main-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#controls {
    float: right;
}

#glasspane {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 100;

    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
}

#cockpit {
    height: 100%;
    width: 100%;
}

.gmnoprint div {
    background:none !important;
}

#wifi-bar {
  position: fixed;
  right: 190px;
}

#time-bar {
  position: fixed;
  right: 270px;
}

#location-bar {
  display: block;
  margin-left: 170%;
  text-align: center;
}

#location-indicator {
  position: fixed;
  right: 45%;
  left: 45%;
  top: 45%;
  bottom: 45%
}

.bottom {
  position: fixed;
  bottom: 20%
}

.image { 
   position: relative; 
}

h2 { 
  position: absolute;
  top: -16px;
  /* margin: -50px; */
  left: 0;
  width: 310px;
}

#time {
  width: 192px;
  text-align: center;
}

#win-count {
  width: 85px;
  text-align: center;
}

h2 span { 
   color: white; 
   font: bold 24px/45px 'Code Pro Demo', Helvetica, Sans-Serif; 
   letter-spacing: -1px;
   padding: 10px; 
}

#the-svg { 
 position: fixed;
  right: 195px;
  bottom: 20%;
  margin-bottom: 15px;
  fill: #fff;
  z-index: 9999999999;
}
